.navbar-brand img {
  margin-right: 0.5em;
}

.light-badge-toggle span.badge {
  margin-right: 1em;
}

.card ul li {
  font-size: 0.8em;
}

.card ul li.list-group-item {
  border: 0;
}

.card .list-group-item {
  border: 0;
}

.card-header {
  color: #eee;
}

.lightlist-collapsed {
  display: none;
}

/* BEGIN TOGGLE SWITCH */

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 3.75em;
 height: 2.125em;
 margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 1.625em;
 width: 1.625em;
 left: 0.25em;
 bottom: 0.25em;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(1.625em);
 -ms-transform: translateX(1.625em);
 transform: translateX(1.625em);
}

/* Rounded sliders */
.slider.round {
 border-radius: 2.125em;
}

.slider.round:before {
 border-radius: 50%;
}

/* END TOGGLE SWITCH */
